<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Name</key>
		<string>Eric Morales</string>
		<key>Score</key>
		<integer>10</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>Sawyer Cherry</string>
		<key>Score</key>
		<integer>9</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>Alberto Dominguez</string>
		<key>Score</key>
		<integer>5</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>Eric Sanchez</string>
		<key>Score</key>
		<integer>7</integer>
	</dict>
</array>
</plist>
